h1{
    color:white;
    font-size:xx-large;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}

body{
    color: white
    background-color:black
    background-image:url("https://media.sellfy.store/images/92zKBvw3/IBg6/sellfy.png?w=380.jpg")
}
p{
  color: white
}
   
